apiVersion: apps/v1
kind: Deployment
metadata:
  name: exams-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: exams-frontend
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: exams-frontend
    spec:
      nodeSelector:
        "beta.kubernetes.io/os": linux
      containers:
        - name: exams-frontend
          image: sgse2021cr.azurecr.io/ms_exams_frontend:latest
          resources:
            limits:
              cpu: "0.5"
            requests:
              cpu: "0.1"
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: exams-frontend
spec:
  ports:
    - port: 3000
  selector:
    app: exams-frontend
