apiVersion: apps/v1
kind: Deployment
metadata:
  name: exams-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: exams-backend
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: exams-backend
    spec:
      nodeSelector:
        "beta.kubernetes.io/os": linux 
      containers:
      - name: exams-backend
        image: sgse2021cr.azurecr.io/ms_exams:latest
        env: 
        - name: DATABASE_URL 
          valueFrom: 
            secretKeyRef: 
              name: examsdb-secret 
              key: url
        resources:
          limits:
            cpu: "0.5"
          requests:
            cpu: "0.1"
        ports:
        - containerPort: 9000
---

apiVersion: v1
kind: Service
metadata:
  name: exams-backend
spec:
  ports:
  - port: 9000
  selector:
    app: exams-backend